In [15]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [16]:
from sklearn.datasets import load_iris

In [17]:
iris = load_iris()
dir(iris)

['DESCR', 'data', 'feature_names', 'filename', 'target', 'target_names']

In [18]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [19]:
df = pd.DataFrame(iris.data, columns = iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [20]:
df['Target']=iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [21]:
df['Names']=df.Target.apply(lambda x : iris.target_names[x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Target,Names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [26]:
df0=df[df.Target==0]
df1=df[df.Target==1]
df2=df[df.Target==2]
from sklearn.model_selection import train_test_split
x = df.drop(['Target','Names'],axis='columns')
y = df.Target

In [27]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.8)

In [28]:
from sklearn.ensemble import RandomForestClassifier
ob=RandomForestClassifier(n_estimators=10)
ob.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [29]:
ob.score(x_test,y_test)

0.9333333333333333

In [30]:
df1['petal width (cm)'].isnull().head(10)

50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
Name: petal width (cm), dtype: bool